/*algemeen*/

body{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 1.25em;
}

header h2{
    text-align: center;
}

header h2 a{
    font-size: 1.75em;
    color: black !important;
    
    text-decoration: none;
}

/*navigatie*/

nav a{
    text-decoration: none;
    color: white !important;
    background-color: darkslateblue ;
    
}

nav a::before{
    content: url(images/link.png);
}

nav a:first-child{
    font-weight: bold;
}

nav a +a{
    font-style: italic;
}

nav a:hover{
    background-color: slategray;
}

nav a:active{
    color: orangered;
}


/*koppelingen*/

a{
    color: black;
}

a:visited {
    color: blue;
}

/*paragrafen*/

body > p{
    text-transform: uppercase;
}

body > p::first-letter{
    font-weight: bold;
}

h2 + p{
    text-indent: 1.5em;
}

h2 + p::first-line{
    font-style: italic;
}

h2 ~ p::first-letter{
    font-size: 1.75em;
}

/*lijsten*/

ul{
    list-style-type: none;
}

ul li ul li{
    color: blue !important;
    list-style-type: square;
}

ul li ul li::before{
    content: none !important;
    
}

ul li:first-child{
    color: green;
    
}

ul li:first-child::before{
    content: url(images/clipboard.png);
    
}

ul li:nth-child(2){
    color: red;
    
}

ul li:nth-child(2)::before{
    content: url(images/clipboard.png);
}

ul li ul li:hover ~ li {
    list-style-type: circle;
}

ul li ul li:first-child{
    list-style-type:disc;
}