/*algemeen*/

body{
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 1.25em;
}

header h2{
    text-align: center;
}

header h2 a{
    font-size: 1.75em;
    color: black !important;
    
    text-decoration: none;
}

/*navigatie*/

nav a{
    text-decoration: none;
    color: white !important;
    background-color: darkslateblue ;
    
}

nav a::before{
    content: url(images/link.png);
}

nav a:first-child{
    font-weight: bold;
}

nav a +a{
    font-style: italic;
}

nav a:hover{
    background-color: slategray;
}

nav a:active{
    color: orangered;
}


/*koppelingen*/

a{
    color: black;
}

a:visited {
    color: blue;
}

/*paragrafen*/

body > p{
    text-transform: uppercase;
}

body > p::first-letter{
    font-weight: bold;
}

h2 + p{
    text-indent: 1.5em;
}

h2 + p::first-line{
    font-style: italic;
}

h2 ~ p::first-letter{
    font-size: 1.75em;
}

/*lijsten*/

ul{
    list-style-type: none;
}

ul li ul li{
    color: blue !important;
    list-style-type: square;
}

ul li ul li::before{
    content: none !important;
    
}

ul li:first-child{
    color: green;
    
}

ul li:first-child::before{
    content: url(images/clipboard.png);
    
}

ul li:nth-child(2){
    color: red;
    
}

ul li:nth-child(2)::before{
    content: url(images/clipboard.png);
}

ul li ul li:hover ~ li {
    list-style-type: circle;
}

ul li ul li:first-child{
    list-style-type:disc;
}

/*formulieren*/

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

/*form naam*/
input[name="naam"]{
    background-color: #FF1111;
}

input[name="naam"]:hover{
    background-color: #991111;
}

input[name="naam"]:active{
    background-color: #11FF11;
}

input[name="naam"]:focus{
    background-color: #11FF11;
}

/*form voornaam*/
input[name="voornaam"]{
    background-color: #11f;
}

input[name="voornaam"]:hover{
    background-color: #111199;
}

input[name="voornaam"]:active{
    background-color: #11FF11;
}

input[name="voornaam"]:focus{
    background-color: #11FF11;
}

/*Ik ben tevreden label*/
input[id="tevreden"] + label {
    color: #119911;
}

input[id="tevreden"]:checked + label {
    color: #116611;
}

/*Ik ben NIET tevreden label*/
input[id="ontevreden"] + label {
    color: #991111;
}

input[id="ontevreden"]:checked + label {
    color: #661111;
}

/*footer*/

footer p{
    font-size: 0.75em;
    text-align: right;
}