@media (min-width:768px) {
    #jumbotron {
        background: grey url(Images/beaded-2137080_1280.jpg) center center;
        color: white;
    }
}
@media (min-width: 1200px) {
    #jumbotron {
        background: grey url(Images/beaded-2137080_1920.jpg) center right;
        color: white;
    }
}